<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Automation_Samples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <userSettings>
    <Automation_Samples.Properties.Settings>
      <setting name="Frontend_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="timeToWaitInMinutes" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Backend_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="RunHeadless" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FireExceptionOnBrowserConsoleErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SENDGRID_API_KEY" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="FromMail" serializeAs="String">
        <value>linkdev.automationtest@gmail.com</value>
      </setting>
      <setting name="toMails" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>fady.aziz@linkdev.com</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IsNewDev" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTesting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrewNewURL" serializeAs="String">
        <value>crew/new</value>
      </setting>
      <setting name="RunWithDynamics365Upgrade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CMAUsername" serializeAs="String">
        <value>Crm365dc.local\crmadmin</value>
      </setting>
      <setting name="CMAPassword" serializeAs="String">
        <value>linkP@ss</value>
      </setting>
      <setting name="CMAURLClassic" serializeAs="String">
        <value>https://cmap2.linkdev.com/main.aspx#662006218</value>
      </setting>
      <setting name="DMCACRMSTGURL" serializeAs="String">
        <value>https://dmcastag.dmca.ae/main.aspx</value>
      </setting>
      <setting name="RALUsername" serializeAs="String">
        <value>GROUP\Dma.test02</value>
      </setting>
      <setting name="CorporateEmployer" serializeAs="String">
        <value>*Automation</value>
      </setting>
      <setting name="CrewSubCategory" serializeAs="String">
        <value>Pleasure Marine Craft Driving License-Skipper-Craft length up to (24) meters</value>
      </setting>
      <setting name="InspectorUser" serializeAs="String">
        <value>group\dma.test26</value>
      </setting>
      <setting name="InspectorPassword" serializeAs="String">
        <value>P@s$w1rd2</value>
      </setting>
      <setting name="MCITCRMURL" serializeAs="String">
        <value>https://mcitqc.linkdev.com</value>
      </setting>
      <setting name="MCITAdminUsername" serializeAs="String">
        <value>mbsdc\crmadmin</value>
      </setting>
      <setting name="MCITAdminPassword" serializeAs="String">
        <value>linkP@ss</value>
      </setting>
      <setting name="MCITTechEmp1Username" serializeAs="String">
        <value>MBSDC\TechEmployee1</value>
      </setting>
      <setting name="MCITTechEmp1Password" serializeAs="String">
        <value>linkP@ss</value>
      </setting>
      <setting name="IsStaging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPre" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DMCAPortalURL" serializeAs="String">
        <value>https://eservicesuat.dmca.ae/en/</value>
      </setting>
      <setting name="DMCAPortalUserCor_Username" serializeAs="String">
        <value>corfadypre</value>
      </setting>
      <setting name="DMCAPortalUserCor_Password" serializeAs="String">
        <value>P@ssw0rdP</value>
      </setting>
      <setting name="DMCAPortalUserInd_Username" serializeAs="String">
        <value>indfadypre</value>
      </setting>
      <setting name="DMCAPortalUserInd_Password" serializeAs="String">
        <value>P@ssw0rdP</value>
      </setting>
      <setting name="DMCACRMURL" serializeAs="String">
        <value>https://dmcauat.dmca.ae</value>
      </setting>
      <setting name="DMCACRMAdminUsername" serializeAs="String">
        <value>DMCA.pcfc.ae\Svc-UCRMADMIN</value>
      </setting>
      <setting name="DMCACRMAdminPassword" serializeAs="String">
        <value>P@ss4C6mu01</value>
      </setting>
      <setting name="RALPassword" serializeAs="String">
        <value>P@s$w1rd2</value>
      </setting>
      <setting name="portal_user_indv" serializeAs="String">
        <value>indfadypre</value>
      </setting>
      <setting name="CrewCategory" serializeAs="String">
        <value>Pleasure</value>
      </setting>
      <setting name="portal_user_comp" serializeAs="String">
        <value>corfadypre</value>
      </setting>
      <setting name="VesselLogURL" serializeAs="String">
        <value>VesselLogBook/apply</value>
      </setting>
      <setting name="AppStatusSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="AppNumberSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="PlateNumberSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="DepartureDate" serializeAs="String">
        <value>2 / 20 / 2026</value>
      </setting>
      <setting name="DepartureTime" serializeAs="String">
        <value>8:45 PM</value>
      </setting>
      <setting name="ArrivalDate" serializeAs="String">
        <value>2 / 20 / 2026</value>
      </setting>
      <setting name="ArrivalTime" serializeAs="String">
        <value>8:46 PM</value>
      </setting>
      <setting name="MainStatus" serializeAs="String">
        <value />
      </setting>
      <setting name="subsubstatus" serializeAs="String">
        <value />
      </setting>
      <setting name="SubStatus" serializeAs="String">
        <value />
      </setting>
    </Automation_Samples.Properties.Settings>
  </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="OnlineUsername" value="" />
    <add key="OnlinePassword" value="" />
    <add key="OnlineCrmUrl" value="" />
    <add key="MfaSecretKey" value="" />
    <add key="AzureKey" value="" />
    <!-- IE,Chrome,Firefox,Edge,Remote-->
    <add key="BrowserType" value="Chrome" />
    <add key="DriversPath" value="" />
    <add key="UsePrivateMode" value="true" />
    <!-- The following settings are only used if BrowserType = "Remote" above -->
    <add key="RemoteBrowserType" value="Chrome" />
    <add key="RemoteHubServer" value="http://1.1.1.1:4444/wd/hub" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /></startup></configuration>
